@charset "utf-8";
/* CSS Document */

#landing_page_nav {
	width:71%;
	margin-left:3%;
	margin-bottom:2em;
	padding-bottom:1em;
	float:left;
}

#landing_page_content {
	width:100%;
	background-color:#fff;
	display:inline-block;
	margin-bottom:1em;
	border-right:#ccc solid 1px;
	padding-top:2em;
}

#landing_page_head_img {
	width:100%;
	margin-bottom:-.32em;
}

.landing_page_header_text {
	width:90%;
	margin:0em 2em .5em 2em;
	border-bottom:1px dotted #999;
	padding-bottom:1em;
	font-size:1.2em;
}

.level_2_nav_section {
	width:45%;
	float:left;
	margin:0 3% 0 2%;
	padding:0 2% 0 2%; /*209px/12px*/
	min-width:150px;
}

.level_2_nav_section h2 {
	font-size:1.5em;
	border-bottom:#f8b800 solid 1px;
	color:#434343;
}

.level_2_nav_section a h2 {
	color:#132e93;
}

#landing_one_column {
		width:90%;
	}

.level_2_nav_section ul.nav_list_details {
	list-style:none;
	padding-left:1em;
	text-indent:-1em;
}

a:hover h2, a:focus h2, a:active h2 {
	border-bottom:1px dashed #f8b800;
	color:#000;
	text-decoration:none;
}

.nav_list_details li {
	margin-bottom:.5em
}