
/*---------------Media Queries-----------------*/

/*--------------Licensable Tech----------------*/

@media screen and (max-width:1220px) {
	#right_nav .nav_heading {
		font-size:1.2em;
	}
}

@media screen and (max-width:1070px) {
	#top_nav ul li a {
		font-size:1em;
	}
}

@media screen and (max-width:980px) {
	
	#vcu_research a {
		font-size:2.25em;
		width:64%;
	}
	
	#search {
		width:31%;
	}
}

@media screen and (max-width:900px) {
	#main #right_nav {
		float:left;
		margin-top:0;
		width:96%;
		margin-left:2%;
		margin-right:2%;
		padding-top:0
	}
	
	#right_nav ul:first-of-type {
		float:left;
		width:50%;
		text-align:center;
		padding:0;
	}
	
	#right_nav div:first-of-type {
		float:left;
		width:50%;
		margin-right:1%;
	}
	
	#right_nav ul:last-of-type {
		float:right;
		width:50%;
		padding:0;
	}
	
	#right_nav div:last-of-type {
		float:right;
		width:50%;
	}
	
	#landing_page_nav, #landing_page_content {
		padding-right:0;
		width:98%;
		margin-left:1%;
		margin-right:1%;
		margin-bottom:0;
		border-right:none;
	}
	
	#landing_page_content {
		padding-top:1em;
	}
	
	#landing_page_nav h1 {
		width:100%;
		padding-right:0;
		padding-bottom:.5em;
		margin-left:1%;
		display:block;
	}
	
	#heading_bar {
		width:100%;
	}
	
	.landing_page_header_text {
		width:95%;
		margin:1em;
	}
	
	#right_nav li {
		font-size:1.25em;
	}
	
	#main #content {
		width:98%;
		margin-left:1%;
		margin-right:1%;
		margin-bottom:.5em;
	}
	
	#content_text {
		border-right:none;
	}
	
	#head_image {
		display:none;
	}	
}

@media screen and (max-width:850px) {
	#search {
		padding-top:.25em;
	}
	
	#identity_search {
		width:95%;
	}
}

@media screen and (max-width:830px) {
	
	#irb_wpp_info, #iacuc_wpp_info {
		margin-top:.5em;
	}
}

@media screen and (max-width:810px) {
	#identity_search {
		width:99%;
	}
	
	#search {
		width:100%;
		display:block;
	}
	
	#vcu_research {
		width:100%;
		padding-top:0;
		text-align:center;
	}
	
	#vcu_research a {
		width:100%;
		margin-top:-.5em;
	}
}

@media screen and (max-width:767px) {
	
	#vcu_logo_desktop {
		display:none;
	}
	
	#vcu_logo_mobile {
		display:block;
		margin:auto;
	}
	
	#vcu_footer {
		display:block;
	}
	
	#landing_page_head_img {
		margin-top:-.75%;
	}
}

@media screen and (max-width:750px) {
	.level_2_nav_section {
		width:90%;
	}
	#heading_bar {
		margin-top:-1em;
	}
}

@media screen and (max-width:650px) {
	#landing_page_nav {
		width:98%;
		margin-left:1%;
		margin-right:1%;
	}
	
	.nav_section {
		width:94%;
		padding:3%;
		margin-left:0;
		margin-right:0;
	}
	
	.float_right {
		float:left;
	}
	
	.toggle_list .columns {
		width:100%;
	}
	
	#page_sidebar {
		width:100%;
		float:none;
		margin-left:0;
		padding-bottom:1em;
		margin-bottom:1em;
	}
}

@media screen and (max-width:550px) {
	
	#top_nav ul li a{
		font-size:1.05em;
	}
	
	.landing_page_header_text {
		width:90%;
		font-size:1em;
	}
}

/*phones held in landscape mode*/
@media screen and (max-width:480px) {
	#logo_bar {
		/*display:none;*/
		margin-bottom:0;
	}
	
	#vcu_research {
		padding-top:1em;
	}
}

@media screen and (max-width:500px) {
	#logo_bar {
		margin-bottom:0;
	}
	
	#right_nav ul:first-of-type {
		float:none;
		width:100%;
		text-align:left;
	}
	
	#right_nav div:first-of-type {
		float:none;
		width:100%;
		margin-right:0;
	}
	
	#right_nav ul:last-of-type {
		float:none;
		width:100%;
		text-align:left;
	}
	
	#right_nav div:last-of-type {
		float:none;
		width:100%;
	}
	
	#landing_page_head_img {
		display:none;
	}
	
	h1 {
		margin-top:-.19em;
	}
}

@media screen and (max-width:403px) {	
	#top_nav {
		float:none;
		width:100%;
		margin-left:0;
	}

	#top_nav ul li a {
		display:block;
		width:100%;
	}
	
	ul#wpp_toc li {
		display:block;
		text-align:left;
		width:100%;
	}
	
	ul#wpp_toc li.spacer {
		disply:none;
	}

}