/* RESET --------------------------------------------------------------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align: baseline; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
img {max-width:100%;}
button, input, optgroup, select, textarea {margin: 0; font: inherit; color: inherit;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {padding: 0; border: 0;}
input {line-height: normal;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

/*! Icon Font */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {content: "\2a";}
.glyphicon-plus:before {content: "\2b"}
.glyphicon-minus:before {content: "\2212";}
.glyphicon-cloud:before {content: "\2601";}
.glyphicon-envelope:before {content: "\2709";}
.glyphicon-pencil:before {content: "\270f";}
.glyphicon-search:before {content: "\e003";}
.glyphicon-heart:before {content: "\e005";}
.glyphicon-star:before {content: "\e006";}
.glyphicon-star-empty:before {content: "\e007";}
.glyphicon-user:before {content: "\e008";}
.glyphicon-film:before {content: "\e009";}
.glyphicon-th-large:before {content: "\e010";}
.glyphicon-th:before {content: "\e011";}
.glyphicon-th-list:before {content: "\e012";}
.glyphicon-ok:before {content: "\e013";}
.glyphicon-remove:before {content: "\e014";}
.glyphicon-zoom-in:before {content: "\e015";}
.glyphicon-zoom-out:before {content: "\e016";}
.glyphicon-off:before {content: "\e017";}
.glyphicon-signal:before {content: "\e018";}
.glyphicon-cog:before {content: "\e019";}
.glyphicon-trash:before {content: "\e020";}
.glyphicon-home:before {content: "\e021";}
.glyphicon-file:before {content: "\e022";}
.glyphicon-time:before {content: "\e023";}
.glyphicon-download-alt:before {content: "\e025";}
.glyphicon-download:before {content: "\e026";}
.glyphicon-upload:before {content: "\e027";}
.glyphicon-inbox:before {content: "\e028";}
.glyphicon-play-circle:before {content: "\e029";}
.glyphicon-repeat:before {content: "\e030";}
.glyphicon-refresh:before {content: "\e031";}
.glyphicon-list-alt:before {content: "\e032";}
.glyphicon-lock:before {content: "\e033";}
.glyphicon-flag:before {content: "\e034";}
.glyphicon-headphones:before {content: "\e035";}
.glyphicon-volume-off:before {content: "\e036";}
.glyphicon-volume-down:before {content: "\e037";}
.glyphicon-volume-up:before {content: "\e038";}
.glyphicon-tag:before {content: "\e041";}
.glyphicon-tags:before {content: "\e042";}
.glyphicon-book:before {content: "\e043";}
.glyphicon-bookmark:before {content: "\e044";}
.glyphicon-print:before {content: "\e045";}
.glyphicon-camera:before {content: "\e046";}
.glyphicon-picture:before {content: "\e060";}
.glyphicon-map-marker:before {content: "\e062";}
.glyphicon-tint:before {content: "\e064";}
.glyphicon-edit:before {content: "\e065";}
.glyphicon-share:before {content: "\e066";}
.glyphicon-check:before {content: "\e067";}
.glyphicon-chevron-left:before {content: "\e079";}
.glyphicon-chevron-right:before {content: "\e080";}
.glyphicon-plus-sign:before {content: "\e081";}
.glyphicon-minus-sign:before {content: "\e082";}
.glyphicon-remove-sign:before {content: "\e083";}
.glyphicon-ok-sign:before {content: "\e084";}
.glyphicon-question-sign:before {content: "\e085";}
.glyphicon-info-sign:before {content: "\e086";}
.glyphicon-remove-circle:before {content: "\e088";}
.glyphicon-ok-circle:before {content: "\e089";}
.glyphicon-ban-circle:before {content: "\e090";}
.glyphicon-arrow-left:before {content: "\e091";}
.glyphicon-arrow-right:before {content: "\e092";}
.glyphicon-arrow-up:before {content: "\e093";}
.glyphicon-arrow-down:before {content: "\e094";}
.glyphicon-share-alt:before {content: "\e095";}
.glyphicon-resize-full:before {content: "\e096";}
.glyphicon-resize-small:before {content: "\e097";}
.glyphicon-exclamation-sign:before {content: "\e101";}
.glyphicon-leaf:before {content: "\e103";}
.glyphicon-fire:before {content: "\e104";}
.glyphicon-warning-sign:before {content: "\e107";}
.glyphicon-calendar:before {content: "\e109";}
.glyphicon-random:before {content: "\e110";}
.glyphicon-comment:before {content: "\e111";}
.glyphicon-magnet:before {content: "\e112";}
.glyphicon-chevron-up:before {content: "\e113";}
.glyphicon-chevron-down:before {content: "\e114";}
.glyphicon-folder-close:before {content: "\e117";}
.glyphicon-folder-open:before {content: "\e118";}
.glyphicon-bell:before {content: "\e123";}
.glyphicon-circle-arrow-right:before {content: "\e131";}
.glyphicon-circle-arrow-left:before {content: "\e132";}
.glyphicon-circle-arrow-up:before {content: "\e133";}
.glyphicon-circle-arrow-down:before {content: "\e134";}
.glyphicon-globe:before {content: "\e135";}
.glyphicon-wrench:before {content: "\e136";}
.glyphicon-paperclip:before {content: "\e142";}
.glyphicon-heart-empty:before {content: "\e143";}
.glyphicon-link:before {content: "\e144";}
.glyphicon-phone:before {content: "\e145";}
.glyphicon-pushpin:before {content: "\e146";}
.glyphicon-usd:before {content: "\e148";}
.glyphicon-sort-by-alphabet:before {content: "\e151";}
.glyphicon-unchecked:before {content: "\e157";}
.glyphicon-expand:before {content: "\e158";}
.glyphicon-collapse-down:before {content: "\e159";}
.glyphicon-collapse-up:before {content: "\e160";}
.glyphicon-flash:before {content: "\e162";}
.glyphicon-send:before {content: "\e171";}
.glyphicon-earphone:before {content: "\e182";}
.glyphicon-phone-alt:before {content: "\e183";}
.glyphicon-copyright-mark:before {content: "\e194";}
.glyphicon-registration-mark:before {content: "\e195";}
.glyphicon-level-up:before {content: "\e204";}
.glyphicon-hourglass:before {content: "\231b";}
.glyphicon-duplicate:before {content: "\e224";}
.glyphicon-education:before {content: "\e233";}
.glyphicon-option-horizontal:before {content: "\e234";}
.glyphicon-option-vertical:before {content: "\e235";}
.glyphicon-menu-hamburger:before {content: "\e236";}
.glyphicon-triangle-right:before {content: "\e250";}
.glyphicon-triangle-left:before {content: "\e251";}
.glyphicon-triangle-bottom:before {content: "\e252";}
.glyphicon-triangle-top:before {content: "\e253";}
.glyphicon-menu-left:before {content: "\e257";}
.glyphicon-menu-right:before {content: "\e258";}
.glyphicon-menu-down:before {content: "\e259";}
.glyphicon-menu-up:before {content: "\e260";}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-size: 0.875em;
    line-height: 1.5;
    color: #333;
}

/*IDENTITY*/
#header {
	width:100%;
	text-align:center;
	background-color:#bf8a00;
	display:inline-block;
}

#logo_bar {
	max-width:100%;
	background-color:#000000;
}

#vcu_logo_mobile {
	display:none;
}

#identity_search {
	width:90%;
	margin:auto;
	max-width:1200px;
}

#vcu_research a {
	float:left;
	width:70%;
	color:#fff;
	font-family:Enriqueta, serif;
	font-size:2.75em;
	padding-top:.15em;
	text-shadow:1px 1px 8px #434343;
}

#vcu_research a, #vcu_research a:link, #vcu_research a:visited, #vcu_research a:hover, #vcu_research a:active, #logo_bar a, #logo_bar a:link, #logo_bar a:visited, #logo_bar a:hover, #logo_bar a:active {
	text-decoration:none;
	border-bottom:none;
}

/* Search*/
#search {
	width:27%;
	float:right;
	padding-top:1.2em;
}

#identity_search .search_btn {
	cursor:pointer;
	vertical-align:middle;
	padding: 6px 12px;
	font-size:14px;
	letter-spacing:normal;
	line-height: 1.42857143;
	margin-left:-5px;
	text-align:center;
	vertical-align:middle;
	border:1px solid #ccc;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	background-color:#fff;
}

#identity_search .search_btn img {
	width:18px;
}

#searchField {
	vertical-align:middle;
	height:34px;
	padding:6px 12px;
	font-size:14px;
	color:#555;
	border:1px solid #ccc;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#search label {
	display:none;
}
	
/* Top Navigation*/
#top_nav_container {
	width:100%;
	background-color:#f8b800;
	display:block;
	float:left;
	margin-top:.5em;
	text-align:center;
}

#top_nav {
	margin:auto;
	position:relative;
	z-index:1000;
}

#top_nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
	position:relative;
	text-align:center;
	padding-top:.05em;
	padding-bottom:.05em;
	margin-bottom:-.05em;
}

#top_nav ul li {
	display:inline;
	float:none;
	text-align:center;	
}

#top_nav ul li a {
	display:inline-block;
	padding:.85em;
	font-size:1.1em;
	font-family: 'Enriqueta', serif;
	text-decoration:none;
	text-transform:uppercase;
	color:#434343;
}

#top_nav ul li a:hover {
	background-color:#fff;
	text-decoration:none;
	border-bottom:0;
}

#top_nav ul li a:focus {
	color:none;
	text-decoration:none;
	border-bottom:none;
	}
		
/* Body*/
body {
	background-color:#e7e7e7;
	height:100%;
	font-size: 0.875em; /*14px / 16px */
	font-family: Arial, Helvetica, sans-serif;
	color:#000000;
}

/* Layout*/
#main {
	width:100%;
	max-width:2000px;
	margin:auto;
}

#head_image {
	width:26%;
	z-index:1000;
	float:right;
	margin-bottom:-.3em;
}

#head_image img {
	min-width:100px;
	width:88%;
	z-index:897;
}

#heading_bar {
	width:74%;
	background-color:#434343;
	padding-right: 2%;
	padding-bottom: .3%;
	float:left;
}

#heading_bar h1 {
	width:89%;
}

#content {
	width:71%;
	margin-left:3%;
	margin-bottom:2em;
	padding-bottom:1em;
	float:left;
	min-width:200px;	
}

#breadcrumbs {
	margin-bottom:1.5em;
	font-size:0.7857142857142857em;
}

#content_text {
	padding-left:4%;
	padding-right:4%;
	padding-top:1.75em; /*21px/12px*/
	padding-bottom:1em;
	background-color:#fff;
	border-right:#ccc solid 1px;
}

#right_nav {
	width: 23%;
	float: left;
	margin-right:3%;
	min-width: 130px;
}

#right_nav ul {
	list-style:none;
	width:100%;
	padding-left:0;
	margin-left:0;
	margin-bottom:.5em;
	text-align:center;
}

#right_nav ul li a {
	background-color:#f2f2f2;
	border-radius:7px;
	color:#333;
	font-family:Enriqueta, serif;
	margin:.5em 1%;
	padding:1em;
	text-align:center;
	display:block;	
}

#right_nav a:link, #right_nav a:visited {
	color:#434343;
}

#right_nav a:hover, #right_nav a:focus, #right_nav a:active {
	color:#fff;
	background-color:#f8b800;
	border-bottom:none;
}

#right_nav .nav_heading {
	font-size:1.2em;
	font-family:'Enriqueta', serif;
	font-weight:bold;
	width:100%;
	padding:.65em 0 .65em 0em;
	color:#434343;
	border-bottom:1px dotted #434343;
	text-align:center;
	margin:auto;
	background-color:#ccc;
}

.right_nav_btn {
	width:49%;
	display:inline-block;
}

#right_nav .right_nav_btn a {
	margin-bottom:0em;
}

#right_nav .right_nav_btn span {
	font-size:1.75em;
}

#right_nav #helpline a {
	width:98%;
	margin-top:1em;
	text-align:center;
	margin:auto;
	background-color:transparent;
	border-radius:0;
	padding:0;
}

/* Signature links*/
#signature {
	clear: both;
	width: 100%;
	margin:auto;
	padding:0;
	font-size:.85em;
	line-height: 1.6em;
	position:relative;
}

#signature ul {
	list-style:none; 
	margin:auto; 
	padding:1em 0 1em 0; 
	text-align:center; 
}

#signature ul li {
	color:#333;
}

#vcu_footer {
	display:none;
	background-color:#000;
	width:100%;
	padding-top:.25em;
	padding-bottom:.25em;
}

#vcu_footer img {
	display:block;
	margin:auto;
}

/*Headings*/
h1 {
	font-size:2.15em;
	font-family: 'Enriqueta', serif;
	color:#ffffff;
	padding: .75em 1.5em .75em 5%;
	font-weight:normal;
	background-color:#434343;
	line-height:1em;
	margin:0;
}

h2{ /*same as style1*/
	color:#000000;
	font-size:1.8em;
	font-family:Arial, Helvetica, sans-serif;
	padding:0em;
	margin:0em;
	font-weight:normal;
	margin-bottom:.25em; /*6px/12px*/
}

h3 {
	font-size:1.3em;
	padding-bottom:0;
	font-weight:normal;
}

h3.gray_heading {
	font-size:1.08333333em; /*13px/12px*/
	font-weight:700;
	background:#ABABAB;
	color:#121212;
	margin:2em 0 1em;
	padding:.66666667em; /*8px/12px*/
	}
	
h4 {
	font-size:1em; /*12px/12px*/
	font-weight:bold;
	padding-bottom:0;
}
	
/*Images*/
img {
	max-width:100%;
	border: 0;
	vertical-align:middle;
}

.img-rounded {
  border-radius: 6px;
}

.img-circle {
  border-radius: 50%;
}

/* Links */
a, a:link, a:visited {
	color:#132e93;
	text-decoration:none;
	border-bottom:0;
	}
	
a:hover {
	color:#3f2d0c;
	border-bottom:1px solid #3f2d0c;
	}
	
a:active,a:focus {
	color:#1d68a0;
	text-decoration:none;
	border-bottom:1px solid #dbd8c2;
	}
	
a.no_hover:hover {
	border-bottom:none;
}

li.spacing {
	margin-top:1em;
}
	
p, li {
	table-layout:fixed;
	margin-top:0;
	margin-bottom:1em;
	line-height:1.5em;
	font-size: 1em;
	}

.no_margin {
	margin-bottom: 0px;
}

.list_no_bullets {
	list-style-type:none;
}

.list_no_bullets_spacing li {
	list-style-type:none;
	margin-top:1em;
}

.indent, dd {
	margin-left:40px;
}

.bottom_margin, dd {
	margin-bottom:1em;
}

.top_margin {
	margin-top:2em;
	margin-bottom:0;
}
	
/* Lists */
ul{margin:0 0 1.5em 1.5em; padding-top:0;}
ol{margin:0 0 2.0em 2.0em;}
li{margin:0em 0 0em 0em;}
	
/* Styles */
.style1 {
	color: #000000; 
	font-size: 1.66666667em; /*20px/12px*/
	font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0.0em;
}
	
.style4 { /*gold on IRB wpp pages; headings*/

}

.note_to_client {color:#ae1a0c;} /*red text*/

/*In-Page Navigation*/
#page_sidebar {
	width:45%;
	float:right;
	margin-left:1em;
	padding-bottom:1em;
	border:1px solid #f8b800;
}
	
#page_sidebar h4, #page_sidebar h3 {
	padding:1em;
	font-weight:bold;
	font-size:1.2em;
	text-align:center;
	background-color:#F8B800;
}

#page_sidebar p {
		margin:1.4em;
		margin-bottom:0;
	}

/* Tables */
table {
	border-collapse: collapse;
	margin: 0 0 1.66666667em 0; /*20px/12px*/
	}
		
th {
	font-size: 1em; 
	color: #000; 
	text-align: left;
	padding: .5em;
	background: #FFF;
	vertical-align:text-top;
	}
	
.no_emphasis { /*use when th is to look exactly like td*/
	font-size: 1em; 
	text-align: left;
	font-weight:normal;
	}
	
td {
	padding: .5em; 
	font-size: 1em; 
	line-height: 1.4em; 
	vertical-align: text-top;
	}

/* alternate bg color on table rows */
tr.alt, tr.cal_head {
	background: #FFF; 
	color: #333;
}
.table_border, .table_border tr, .table_border td, .table_border th {
		border:solid 1px #000;
		border-collapse:collapse;
	}

/*Accordian Styles*/
.centers_toggle_heading {
	padding:.75em;
	background-color:#ccc;
	cursor:pointer;
	font-size:1.15em;
	margin-bottom:.5em;
	font-weight:normal;
}
	
.toggle_list {
	padding-left: .5em;
	display:inline-block;
	width:100%;
}
	
.expand_collapse, .expanded {
	cursor:pointer;
	font-size:.75em;
	color:#132e93;
}

.toggle_list .columns {
	width:49%;
	margin-right:1%;
	float:left;
}
		
/*IRB WPP Info*/
#irb_wpp_info {
	width:100%;
	margin-top:3em;
	}
	
#irb_wpp_info, #irb_wpp_info tr, #irb_wpp_info td {
	border-collapse:collapse;
	border:1px solid black;
	}
	
#wpp {width:15%;}
#section {width:85%;}
#date {width:22%;}
#history {width:78%;}
	
/*IACUC WPP Info*/
#iacuc_wpp_info {
	width:100%;
	margin-top:3em;
	}
	
#iacuc_wpp_info, #iacuc_wpp_info tr, #iacuc_wpp_info td {
	border:1px solid #000000;
	border-collapse:collapse;
	}
	
#iacuc_wpp_toc {
	width:90%;
	border-collapse:collapse;
	font-weight:bold;
	text-align:center;
	margin:auto;
	margin-bottom:2em;
}
	
#iacuc_wpp_toc .spacer {
	width:1%;
	vertical-align:text-top;
}

/*DAR SOPs*/
.sop_table .heading {
	background-color:#cccccc;
	text-align:center;
}

.sop_table {
	width:98%;
	border-collapse:collapse;
	margin:auto;
	margin-bottom:1em;
}
	
.sop_table a:link, .sop_table a:visited {
	text-decoration:underline;
}

.sop_table tr td:first-of-type {
	width:56px;
}

/*Box around text*/
.box_text {
	border:1px solid #000000;
	padding:1em;
	margin-bottom:1em;
	}

/*Forms*/
#form_buttons {
		text-align:center;
	}

input[type=text], input[type=email], textarea {
	border:#cccccc solid 2px;
	padding:.4em;
	max-width:200px;
	}
	
input:focus, textarea:focus {
	border-color: #f8b800;
}
	
#form_buttons button {
	border: #A2A2A2 solid 2px;
	cursor:pointer;
	padding:.75em;
}

input.parsley-error, select.parsley-error, textarea.parsley-error {
  border: 2px solid #F00;
}

.parsley-errors-list {
  list-style-type: none;
  margin:0;
  color: #F00;
}

li.parsley-required, li.parsley-type {
	color:#f00;
}
	
/* Calendar*/
p.more {margin-left:8px; margin-top:5px;}

/*CSS ID for table that hold list of events*/
#cal_xml_feed {width: 100%; padding:0; margin:0; margin-bottom:2em;}
#cal_xml_feed td {padding:0 .25em 0 .25em; margin:0;}
/*CSS class for the table row that holds the date of the event*/
#cal_xml_feed  tr.cal_head {margin-top: 1em;}
/*CSS class for the table cell that holds the date of the event*/
#cal_xml_feed  td.cal_date {font-weight: bold;}
/*CSS class for the table row that holds the time, title, and location of the event*/
#cal_xml_feed  tr.cal_info {font-size: .9em; padding-top:0;}
/*CSS class for the table cell that holds the location of the event*/
#cal_xml_feed  td.cal_location {text-align:right;}
/*CSS class for the table cell that holds the time of the event*/
#cal_xml_feed  td.cal_time {text-align:left;}

/* Miscellaneous*/
#skip_link {
	float:right;
	font-size:0.5em;
	z-index:1000;
}

#skip_link a {
	color:#bf8a00;
}

#skip_link a:hover, #skip_link a:focus	{
	color:#ffffff;
	text-decoration:none;
}

hr {
	border:.25px solid #ccc;
}