
/* CSS Document */

#main #heading_bar {
	width:71.92%;
}

#main #content {
	margin-left:5%;
	width: 68.9%;
}

#main #right_nav {
	width:20.95%;
	float:right;
}


/*---------------Media Queries-----------------

@media screen and (max-width:900px) {
	#main #right_nav {
		float:left;
		margin-top:0;
		width:96%;
		margin-left:2%;
		margin-right:2%;
		padding-top:0
	}
	
	#main #content {
		width:98%;
		margin-left:1%;
		margin-right:1%;
		margin-bottom:.5em;
	}
	
	#main #heading_bar {
		width:98%;
	}
}*/