@charset "utf-8";
/* CSS Document */

	#page {
		min-width:1000px
	}

	#vcu_research {
    	width:334px;
        }
        
    #identity_search {
    	max-width:692px;
        }
		
	#heading_bar {
		padding-top:-1em;
		}
	
	#right_nav #helpline img {
		width:100%;
		margin:auto;
		} 
		
	#header {
    	padding-bottom:0;
     	}
    
    #main {
    	width:1000px;
        }
		
	#head_image img {
    	width:100%;
        }
		
	#footer_nav {
		width:800px;
		margin-left:100px;
		margin-top:2em;
	}
	
/*landing page level 1*/

.nav_section {
	width:305px;
}